.content-detail {
    width: 100%;
    height: 600px;
    position: relative;
}

#img-detail-left {
    position: absolute;
    height: 100%;
    display: inline-block
}

.content-detail h1{
    font-weight: bolder;
}

#infor-detail-left {
    position: absolute;
    height: 60%;
    width: 40%;
    left: 50%;
    top: 20%;
    text-align: right;
    display: inline-block;
}

#img-detail-right {
    position: absolute;
    height: 100%;
    display: inline-block;
    right: 0;
}

#infor-detail-right {
    position: absolute;
    height: 60%;
    width: 40%;
    left: 10%;
    top: 20%;
    text-align: left;
    display: inline-block;
}